{% import "_includes/forms" as forms %}

<form id="export-form" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="wheelform/entries/export">
    {{ csrfInput() }}

    {{ forms.textField({
        name: 'start_date',
        label: 'Start Date'|t('wheelform'),
        first: true,
        class: 'datepicker',
    }) }}

    {{ forms.textField({
        name: 'end_date',
        label: 'End Date'|t('wheelform'),
        class: 'datepicker',
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Export"|t('wheelform') }}"="Backup"|t('app') }}""/>
        <div class="utility-status"></div>
    </div>
</form>
