{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("wheelform\\assets\\WheelformCpAsset") %}

{% set title = (form.id is empty ? 'New Form'|t : 'Edit Form'|t) %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
] %}

{% block content %}

    {% js at head %}
        window.Wheelform = {
            form_id: {{ form.id ? form.id : 0 }}
        }
    {% endjs %}

    <div id="formapp">
        <Container />
    </div>

{% endblock %}
