{% extends "_layouts/cp" %}

{% do view.registerTranslations('wheelform', [
    'Active',
    'Add',
    'Add Field',
    'Are you sure you want to delete Field',
    'Are you sure you want to delete Form',
    'Back',
    'Cancel',
    'Container class',
    'Delete',
    'Default Empty?',
    'Drag Fields',
    'Edit Fields',
    'Email Subject',
    'Field class',
    'Field placeholder',
    'Form Name',
    'Honeypot',
    'Index View',
    'Item to validate',
    'Label',
    'More Options',
    'Name',
    'Name contains whitespaces',
    'Name is not unique',
    'Name of this Form in the CP.',
    'Name of hidden field that helps prevent bot spam. Leave empty to disable.',
    'Notification',
    'Message that will be displayed on the body of the user Notification Email',
    'Options',
    'Reply-to Email',
    'Required',
    'Save',
    'Save Entries',
    'Save Entries to database',
    'Send Email',
    'Send Email needs to be active for this feature to work',
    'Subject for the Admin email',
    'The email address(es) that the contact form will send to. Separate multiple email addresses with commas.',
    'To Email',
    'Type',
    'User Notification',
    'User Notification Field',
    'User Notification Message',
    'Validate',
]) %}

{% do view.registerAssetBundle("wheelform\\assets\\WheelformCpAsset") %}

{% set title = (form.id is empty ? 'New Form' : 'Edit Form') | t('wheelform') %}

{% set crumbs = [
    { label: CPLabel, url: url('wheelform') },
] %}

{% set sidebar = 1 %}

{% js at head %}
    window.Wheelform = {
        form_id: {{ form.id ? form.id : 0 }},
        fieldTypes: {{ fieldTypes | raw }}
    }
{% endjs %}

{% block main %}

    <div id="wheelform-app">
        <Container />
    </div>

{% endblock %}

{% block foot %}{% endblock %}
