{% extends '_layouts/cp' %}
{% set title = "Entries"|t %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
] %}

{% set content %}
    <div class="tableview">
    {% if entries is not empty %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th scope="col" data-attribute="form_id">
                        Entry Id
                    </th>
                    <th scope="col" data-attribute="dateSubmitted">
                        Date Submitted
                    </th>
                    <th scope="col" data-attribute="View">
                        View Message
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr data-id="{{ entry.id }}">
                        <td class="thin">{{ entry.id }}</td>
                        <td>{{ entry.dateCreated }}</td>
                        <td><a href="{{ url('wheelform/entry/' ~ entry.id)}}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Entries</p>
    {% endif %}
</div>
{% endset %}
