{% extends '_layouts/cp' %}
{% set title = "Single Entry"|t %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
    { label: 'Entries', url: url('wheelform/form/'~ form_id ~'/entries') }
] %}

{% set content %}
<div class="tableview">
    {% if values is not empty %}
    <table class="data fullwidth">
        <thead>
            <th class="thin">Label</th>
            <th>Value</th>
        </thead>
        {% for row in values %}
        <tr>
            <td>
                <strong>{{ row.field.getLabel() }}</strong>
            </td>
            <td>
                {{ row.getValue() }}
            </td>
        </tr>
        {% else %}
            No values were saved!
        {% endfor %}
    </table>
    {% else %}
        No values were saved!
    {% endif %}
</div>
{% endset %}
