{% extends '_layouts/cp' %}
{% set title = "Single Entry"|t %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
    { label: 'Entries', url: url('wheelform/form/'~ entry.id ~'/entries') }
] %}

{% set content %}
<div class="tableview">
    {% if entry is not empty %}
        {% for value in entry.value %}
            <p><strong>{{ value.field.getLabel() }}</strong>:<br />{{value.value}}</p>
        {% endfor %}
    {% endif %}
</div>
{% endset %}
