{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Wheel Form plugin for Craft CMS 3.x
 *
 * Wheel Form index.twig
 *
 * @author    Wheel Interactive
 * @copyright Copyright (c) 2018 Wheel Interactive
 * @link      https://wheelinteractive.com
 * @package   DashForm
 * @since     0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("xpertbot\\dashform\\assetbundles\\dashform\\DashFormAsset") %}
{% do view.registerAssetBundle("xpertbot\\dashform\\assetbundles\\dashformcpsection\\DashFormCPSectionAsset") %}

{% set docsUrl = "https://github.com/Wheel Form/dash-form/blob/master/README.md" %}

{% set title = "Wheel Form" %}

{% set pluginCpUrl = url('dash-form') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@xpertbot/dashform/assetbundles/dashformcpsection/dist', true) ~ '/img/DashForm-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('dash-form') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "DashForm CP Section body goes here"|t('dash-form') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
