.mt-10 {
  margin-top: 10px; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.text-right {
  text-align: right; }

td.view-message > a, td.view-message > span {
  display: inline-block;
  vertical-align: middle; }

span.new-badge {
  font-weight: 600;
  color: #cf5744;
  margin-left: 5px; }

#entries-table thead th:last-child {
  width: 145px; }

.pagination {
  margin: 0.5rem 0rem;
  display: flex;
  padding-left: 0px;
  list-style: none;
  border-radius: 0.25rem; }
  .pagination li.active a {
    background-color: #0d78f2;
    color: #fff; }
  .pagination li a, .pagination li span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6; }
  .pagination li:first-child span, .pagination li:first-child a {
    margin-left: 0px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .pagination li:last-child span, .pagination li:last-child a {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; }

table.data th, table.data td {
  padding: 5px 10px; }

table.data tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05); }

th.text-right, td.text-right {
  text-align: right !important; }

th.text-center, td.text-center {
  text-align: center !important; }

#formapp {
  width: 100%; }
  #formapp label {
    display: block; }
  #formapp .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #formapp .row > .col {
      position: relative;
      width: 100%;
      min-height: 1px; }
      @media (min-width: 576px) {
        #formapp .row > .col {
          flex: 0 0 50%;
          max-width: 50%; } }
      #formapp .row > .col > div {
        margin: 0px 0px 5px; }
  #formapp .field-details {
    position: relative;
    padding-left: 25px; }
    @media (max-width: 576px) {
      #formapp .field-details .text-right {
        text-align: left !important; } }
  #formapp .field-label {
    font-size: 18px; }
  #formapp #field-container {
    position: relative;
    width: 100%; }
  #formapp .form-field-add, #formapp .form-field-rm {
    color: rgba(0, 0, 0, 0.2); }
  #formapp .form-field-add:hover {
    color: #00b007 !important; }
  #formapp .form-field-rm:hover {
    color: #da5a47 !important; }
  #formapp .wheelform-field {
    border: 1px dashed gray;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: #333;
    z-index: 0; }
    #formapp .wheelform-field h4 {
      color: #333;
      padding-right: 20px;
      position: relative; }
      #formapp .wheelform-field h4 > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        z-index: 25;
        padding: 5px; }
  #formapp .wheelform-field-handle {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    cursor: move;
    max-width: 18px;
    max-height: 20px;
    margin-top: -10px;
    /* half of height; */ }
  #formapp .fa {
    font-size: 20px; }
  #formapp .pull-right {
    clear: right;
    float: right; }

@media screen and (min-width: 480px) {
  #formapp {
    width: 28rem; } }

@media screen and (min-width: 767px) {
  #formapp {
    width: 40rem; } }
