.form-field-add, .form-field-rm {
  color: rgba(0, 0, 0, 0.2); }

.form-field-add:hover {
  color: #00b007 !important; }

.form-field-rm:hover {
  color: #da5a47 !important; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

td.view-message > a, td.view-message > span {
  display: inline-block;
  vertical-align: middle; }

span.new-badge {
  font-weight: 600;
  color: #cf5744;
  margin-left: 5px; }

#entries-table thead th:last-child {
  width: 145px; }

.pagination {
  margin: .5rem 0rem;
  display: flex;
  padding-left: 0px;
  list-style: none;
  border-radius: .25rem; }
  .pagination li.active a {
    background-color: #0d78f2;
    color: #fff; }
  .pagination li a, .pagination li span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6; }
  .pagination li:first-child span, .pagination li:first-child a {
    margin-left: 0px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem; }
  .pagination li:last-child span, .pagination li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem; }

table.data th, table.data td {
  padding: 5px 10px; }

table.data tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05); }

th.text-right, td.text-right {
  text-align: right !important; }

th.text-center, td.text-center {
  text-align: center !important; }

#formapp {
  width: 100%; }
  @media screen and (min-width: 480px) {
    #formapp {
      width: 28rem; } }
  @media screen and (min-width: 767px) {
    #formapp {
      width: 40rem; } }
  #formapp #field-container {
    position: relative;
    width: 100%; }
  #formapp .wheelform-field {
    border: 1px dashed gray;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: #333;
    z-index: 0; }
    #formapp .wheelform-field h4 {
      color: #333;
      padding-right: 20px;
      position: relative; }
      #formapp .wheelform-field h4 > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        z-index: 25;
        padding: 5px; }
  #formapp .pull-right {
    clear: right;
    float: right; }
