<html>
<body>
    <ul>
    {% for name, field in fields %}
        <li>
            <strong>{{ field.label }}:</strong><br>
            {% switch field.type %}

                {% case "file" %}
                    {% if field.value is not empty %}
                        {{ field.value.name }}
                    {% endif %}
                {% case "checkbox" %}
                    {{ field.value | join(',')}}

                {% default %}
                {# Text based items #}
                {{ field.value|nl2br }}

            {% endswitch %}
            <br>&nbsp;
        </li>
    {% endfor %}
    </ul>
</body>
</html>
