<html>
<body>
    <ul>
    {% for name, field in fields %}
        <li>
            <strong>{{ field.label }}:</strong>
            {% switch field.type %}

                {% case "file" %}
                    {{ field.value.name }}

                {% case "checkbox" %}
                    {{ field.value | join(',')}}

                {% default %}
                {# Text based items #}
                {{ field. value }}

            {% endswitch %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
