<tr>
    <td>
        <input type="text" name="fields[{{ fieldIndex }}][name]" value="" class="text fullwidth">
    </td>
    <td>
        <div class="select">
        <select name="fields[{{ fieldIndex }}][type]" class="fieldtoggle">
            <option value="text">Text</option>
            <option value="email">Email</option>
            <option value="radio">Radio</option>
            <option value="checkbox">Checkbox</option>
            <option value="dropdown">Dropdown</option>
        </select>
        </div>
    </td>
    <td>
        <label>
            <input type="checkbox" name="fields[{{ fieldIndex }}][required]" value="1">&nbsp;Required
        </label>
    </td>
    <td>
        <a href="#" class="form-field-rm success" data-icon="plus"></a>
        <a href="#" class="form-field-add error right" data-icon="remove"></a>
    </td>
</tr>
