{% import "_includes/forms" as form %}
<tr>
    <td>
        {{ form.textField({
            name: 'fields['~ index ~'][name]',
            required: true,
            value: field.name | default(''),
        }) }}
    </td>
    <td>
        {{ form.selectField({
            name: "fields["~ index ~"][type]",
            required: true,
            options: [
                {label: 'Text', value:'text'},
                {label: 'Email', value:'email'},
                {label: 'Radio', value:'radio'},
                {label: 'Checkbox', value:'checkbox'},
                {label: 'Dropdown', value:'dropdown'},
            ],
            value: field.type | default('')
        }) }}
    </td>
    <td>
        {{ form.checkboxField({
            label: "Required",
            name: 'fields['~ index ~'][required]',
            value: 1,
            checked: field.required | default(0),
        }) }}
    </td>
    <td>
        <a href="#" class="form-field-rm success" data-icon="plus"></a>
        <a href="#" class="form-field-add error right" data-icon="remove"></a>
    </td>
</tr>
